In [1]:
import pandas as pd
import numpy as np

In [2]:
co2_df = pd.read_csv("./processed_data/co2_emissions.csv")
temp_df = pd.read_csv("./processed_data/Temperature_of_countries.csv")

In [3]:
temp_df

                            Country  ISO  Year  Temperature
0      Afghanistan, Islamic Rep. of  AFG  1961       -0.113
1      Afghanistan, Islamic Rep. of  AFG  1962       -0.164
2      Afghanistan, Islamic Rep. of  AFG  1963        0.847
3      Afghanistan, Islamic Rep. of  AFG  1964       -0.764
4      Afghanistan, Islamic Rep. of  AFG  1965       -0.244
...                             ...  ...   ...          ...
13945                      Zimbabwe  ZWE  2018        0.453
13946                      Zimbabwe  ZWE  2019        0.925
13947                      Zimbabwe  ZWE  2020        0.389
13948                      Zimbabwe  ZWE  2021       -0.125
13949                      Zimbabwe  ZWE  2022       -0.490

[13950 rows x 4 columns]

In [4]:
t = temp_df.groupby('Year')['Temperature'].mean()

In [5]:
dataset = pd.DataFrame({
    'Temperature': t
})

In [6]:
dataset

      Temperature
Year
1961     0.163053
1962    -0.013476
1963    -0.006043
1964    -0.070059
1965    -0.247027
...           ...
2018     1.302113
2019     1.443061
2020     1.552038
2021     1.343531
2022     1.382113

[62 rows x 1 columns]

In [7]:
population_df = pd.read_csv("./processed_data/population.csv")

In [8]:
methane_df = pd.read_csv("./processed_data/methane_emissions.csv")

In [9]:
ni_df = pd.read_csv("./processed_data/nitrous_oxide_emission.csv")

In [10]:
population_df.columns

Index(['Country', 'ISO', 'Year',
       'Population - Sex: all - Age: all - Variant: estimates'],
      dtype='object')

In [11]:
merged_df = pd.merge(co2_df, methane_df, on=['Country', 'ISO', 'Year'], suffixes=('_CO2', '_Methane'), how='inner')
merged_df = pd.merge(merged_df, ni_df, on=['Country', 'ISO', 'Year'], how='inner')
merged_df = pd.merge(merged_df, population_df, on=['Country', 'ISO', 'Year'], how='inner')

merged_df

,Country,ISO,Year,Annual CO2 emissions (per capita),Per-capita methane emissions in CO2 equivalents,Per-capita nitrous oxide emissions in CO2 equivalents,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,0.011266,1.083059,0.298523,7480464.0
1,Afghanistan,AFG,1951,0.012098,1.087562,0.303023,7571542.0
2,Afghanistan,AFG,1952,0.011946,1.092116,0.308790,7667534.0
3,Afghanistan,AFG,1953,0.013685,1.098469,0.315431,7764549.0
4,Afghanistan,AFG,1954,0.013511,1.105158,0.322354,7864289.0
...,...,...,...,...,...,...,...
14026,Zimbabwe,ZWE,2017,0.650533,0.891727,0.344920,14751101.0
14027,Zimbabwe,ZWE,2018,0.783639,0.890810,0.347337,15052191.0
14028,Zimbabwe,ZWE,2019,0.723861,0.885695,0.343819,15354606.0
14029,Zimbabwe,ZWE,2020,0.676970,0.874602,0.334256,15669663.0
14030,Zimbabwe,ZWE,2021,0.706293,0.862267,0.327004,15993525.0

In [12]:
annual_co2 = merged_df['Annual CO2 emissions (per capita)'] * merged_df["Population - Sex: all - Age: all - Variant: estimates"]
merged_df.insert(4, "Annual CO2 Emissions", annual_co2)

merged_df

,Country,ISO,Year,Annual CO2 emissions (per capita),Annual CO2 Emissions,Per-capita methane emissions in CO2 equivalents,Per-capita nitrous oxide emissions in CO2 equivalents,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,0.011266,8.427200e+04,1.083059,0.298523,7480464.0
1,Afghanistan,AFG,1951,0.012098,9.160000e+04,1.087562,0.303023,7571542.0
2,Afghanistan,AFG,1952,0.011946,9.160000e+04,1.092116,0.308790,7667534.0
3,Afghanistan,AFG,1953,0.013685,1.062560e+05,1.098469,0.315431,7764549.0
4,Afghanistan,AFG,1954,0.013511,1.062560e+05,1.105158,0.322354,7864289.0
...,...,...,...,...,...,...,...,...
14026,Zimbabwe,ZWE,2017,0.650533,9.596071e+06,0.891727,0.344920,14751101.0
14027,Zimbabwe,ZWE,2018,0.783639,1.179548e+07,0.890810,0.347337,15052191.0
14028,Zimbabwe,ZWE,2019,0.723861,1.111461e+07,0.885695,0.343819,15354606.0
14029,Zimbabwe,ZWE,2020,0.676970,1.060790e+07,0.874602,0.334256,15669663.0
14030,Zimbabwe,ZWE,2021,0.706293,1.129611e+07,0.862267,0.327004,15993525.0

In [13]:
annual_mh4 = merged_df["Per-capita methane emissions in CO2 equivalents"] * merged_df['Population - Sex: all - Age: all - Variant: estimates']
merged_df.insert(6, "Annual MH4 Emission", annual_mh4)

merged_df

,Country,ISO,Year,Annual CO2 emissions (per capita),Annual CO2 Emissions,Per-capita methane emissions in CO2 equivalents,Annual MH4 Emission,Per-capita nitrous oxide emissions in CO2 equivalents,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,0.011266,8.427200e+04,1.083059,8.101785e+06,0.298523,7480464.0
1,Afghanistan,AFG,1951,0.012098,9.160000e+04,1.087562,8.234519e+06,0.303023,7571542.0
2,Afghanistan,AFG,1952,0.011946,9.160000e+04,1.092116,8.373837e+06,0.308790,7667534.0
3,Afghanistan,AFG,1953,0.013685,1.062560e+05,1.098469,8.529120e+06,0.315431,7764549.0
4,Afghanistan,AFG,1954,0.013511,1.062560e+05,1.105158,8.691282e+06,0.322354,7864289.0
...,...,...,...,...,...,...,...,...,...
14026,Zimbabwe,ZWE,2017,0.650533,9.596071e+06,0.891727,1.315395e+07,0.344920,14751101.0
14027,Zimbabwe,ZWE,2018,0.783639,1.179548e+07,0.890810,1.340865e+07,0.347337,15052191.0
14028,Zimbabwe,ZWE,2019,0.723861,1.111461e+07,0.885695,1.359950e+07,0.343819,15354606.0
14029,Zimbabwe,ZWE,2020,0.676970,1.060790e+07,0.874602,1.370472e+07,0.334256,15669663.0
14030,Zimbabwe,ZWE,2021,0.706293,1.129611e+07,0.862267,1.379068e+07,0.327004,15993525.0

In [14]:
annual_ni = merged_df['Per-capita nitrous oxide emissions in CO2 equivalents'] * merged_df['Population - Sex: all - Age: all - Variant: estimates']
merged_df.insert(8, "Annual NiO Emissions", annual_ni)

merged_df

,Country,ISO,Year,Annual CO2 emissions (per capita),Annual CO2 Emissions,Per-capita methane emissions in CO2 equivalents,Annual MH4 Emission,Per-capita nitrous oxide emissions in CO2 equivalents,Annual NiO Emissions,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,0.011266,8.427200e+04,1.083059,8.101785e+06,0.298523,2.233092e+06,7480464.0
1,Afghanistan,AFG,1951,0.012098,9.160000e+04,1.087562,8.234519e+06,0.303023,2.294349e+06,7571542.0
2,Afghanistan,AFG,1952,0.011946,9.160000e+04,1.092116,8.373837e+06,0.308790,2.367658e+06,7667534.0
3,Afghanistan,AFG,1953,0.013685,1.062560e+05,1.098469,8.529120e+06,0.315431,2.449182e+06,7764549.0
4,Afghanistan,AFG,1954,0.013511,1.062560e+05,1.105158,8.691282e+06,0.322354,2.535088e+06,7864289.0
...,...,...,...,...,...,...,...,...,...,...
14026,Zimbabwe,ZWE,2017,0.650533,9.596071e+06,0.891727,1.315395e+07,0.344920,5.087943e+06,14751101.0
14027,Zimbabwe,ZWE,2018,0.783639,1.179548e+07,0.890810,1.340865e+07,0.347337,5.228178e+06,15052191.0
14028,Zimbabwe,ZWE,2019,0.723861,1.111461e+07,0.885695,1.359950e+07,0.343819,5.279200e+06,15354606.0
14029,Zimbabwe,ZWE,2020,0.676970,1.060790e+07,0.874602,1.370472e+07,0.334256,5.237677e+06,15669663.0
14030,Zimbabwe,ZWE,2021,0.706293,1.129611e+07,0.862267,1.379068e+07,0.327004,5.229954e+06,15993525.0

In [15]:
new_features = merged_df.groupby('Year')[['Annual CO2 Emissions', 'Annual MH4 Emission', 'Annual NiO Emissions']].sum()

In [16]:
new_features

      Annual CO2 Emissions  Annual MH4 Emission  Annual NiO Emissions
Year
1950          1.781465e+10         1.085960e+10          3.109492e+09
1951          1.888892e+10         1.123319e+10          3.159854e+09
1952          1.913937e+10         1.149468e+10          3.213358e+09
1953          1.967854e+10         1.179975e+10          3.270338e+09
1954          2.009116e+10         1.213013e+10          3.331145e+09
...                    ...                  ...                   ...
2017          1.057399e+11         3.032153e+10          8.620451e+09
2018          1.078831e+11         3.058126e+10          8.605265e+09
2019          1.086966e+11         3.089436e+10          8.649985e+09
2020          1.038568e+11         3.104839e+10          8.744636e+09
2021          1.092707e+11         3.145000e+10          8.897455e+09

[72 rows x 3 columns]

In [17]:
dataset[['Annual CO2 Emissions', 'Annual MH4 Emissions', 'Annual NiO Emissions']] = new_features[['Annual CO2 Emissions', 'Annual MH4 Emission', 'Annual NiO Emissions']]

dataset

,Temperature,Annual CO2 Emissions,Annual MH4 Emissions,Annual NiO Emissions
Year,,,,
1961,0.163053,2.779522e+10,1.521873e+10,4.045673e+09
1962,-0.013476,2.877933e+10,1.550482e+10,4.181061e+09
1963,-0.006043,3.032081e+10,1.591023e+10,4.315127e+09
1964,-0.070059,3.194596e+10,1.627464e+10,4.467189e+09
1965,-0.247027,3.339014e+10,1.675168e+10,4.639234e+09
...,...,...,...,...
2018,1.302113,1.078831e+11,3.058126e+10,8.605265e+09
2019,1.443061,1.086966e+11,3.089436e+10,8.649985e+09
2020,1.552038,1.038568e+11,3.104839e+10,8.744636e+09
2021,1.343531,1.092707e+11,3.145000e+10,8.897455e+09
2022,1.382113,NaN,NaN,NaN

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 1961 to 2022
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Temperature           62 non-null     float64
 1   Annual CO2 Emissions  61 non-null     float64
 2   Annual MH4 Emissions  61 non-null     float64
 3   Annual NiO Emissions  61 non-null     float64
dtypes: float64(4)
memory usage: 2.4 KB

In [19]:
# dataset.to_csv("dataset/timeseries.csv")