In [2]:
# import Library
import pandas as pd

# Preprocess Temperature Dataset

In [15]:
# Load temperature data
data = pd.read_csv("processed_data/Annual_Surface_Temperature_Change.csv")
data.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243

In [3]:
# create a new table
new_data_dict = {
    "Country": [],
    "ISO": [],
    "Year": [],
    "Temperature": []
}

new_data = pd.DataFrame(new_data_dict)
new_data

Empty DataFrame
Columns: [Country, ISO, Year, Temperature]
Index: []

In [4]:
# Loop through each rows to create new columns in the new_data table
for index, row in data.iterrows():
    country = row['Country']
    iso = row['ISO3']
    for name in row.index[10:]:
        year = name[1:]
        temperature = row[name]
        new_row = {
            "Country": country,
            "ISO": iso,
            "Year": year,
            "Temperature": temperature,
        }
        
        new_data.loc[len(new_data)] = new_row

In [5]:
new_data

                            Country  ISO  Year  Temperature
0      Afghanistan, Islamic Rep. of  AFG  1961       -0.113
1      Afghanistan, Islamic Rep. of  AFG  1962       -0.164
2      Afghanistan, Islamic Rep. of  AFG  1963        0.847
3      Afghanistan, Islamic Rep. of  AFG  1964       -0.764
4      Afghanistan, Islamic Rep. of  AFG  1965       -0.244
...                             ...  ...   ...          ...
13945                      Zimbabwe  ZWE  2018        0.453
13946                      Zimbabwe  ZWE  2019        0.925
13947                      Zimbabwe  ZWE  2020        0.389
13948                      Zimbabwe  ZWE  2021       -0.125
13949                      Zimbabwe  ZWE  2022       -0.490

[13950 rows x 4 columns]

In [6]:
# export the new data
new_data.to_csv("processed_data/Temperature_of_countries.csv", index=False)